.row
  section.content-header
    .row
      .col-md-1
        h3 Confession
      .col-md-2.col-md-offset-6
        a(href='#' onclick='loadNewConfessionPage()')
          h3 Tạo
  section.content
    .container
      .col-md-8
        .box.box-solid
          .box-header.with-border
            h3.box-title Confession
            a(href='#' onclick='loadNewConfessionPage()' class='pull-right') Tạo
          .box-body
            .box-group
              for confession in confessions
                .row
                  .col-xs-2
                    span
                      b #{confession.location}
                    br
                    span #{confession.timestamp}
                  .col-xs-6.col-xs-offset-2
                    .panel.box.box-primary
                      .box-body
                        p #{confession.content}
          .box-footer
            .row
              .col-md-2.col-md-offset-3
                a.btn.btn-primary Tai them

script(src="/javascripts/confession.js")
