.row
  .col-md-6
    .box.box-widget
      .box-header.with-border
        .user-block
          img(class='img-circle' src='/images/favicon.ico')
          span.username Nguyen Trung Duc
          span.description 7:30 Today
        .box-tools
          button(type='button' class='btn btn-box-tool' data-widget='remove')
            i.fa.fa-times
      .box-body
        p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at
      .box-footer.box-comments
        .box-comment
          img(class='img-sm img-circle' src='/images/favicon.ico')
          .comment-text
            span.username Nguyen Trung Duc
              span.text-muted.pull-right 8:03 PM Today
            | Far far away, behind the word mountains
      .box-footer
        form
          img(class='img-responsive img-circle img-sm' src='/images/favicon.ico')
          .img-push
            input(type='text' class='form-control input-sm' placeholder='Press enter to post comment')