extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='#' class='btn btn-primary' onclick='loadLoginWupPage()') login with user pass
  br
  a(href='#' class='btn btn-primary' onclick='loadRegisterPage()') register

block append scripts
  script(src="/javascripts/index.js")