doctype html
html(lang='en')
  head
    block meta
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport',content='width=device-width, initial-scale=1')
      meta(name="description" content="")
      meta(name="author" content="ducnt114")
    link(rel='icon',href='favicon.ico')
    title= title
    block styles
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
      link(rel='stylesheet' href='/stylesheets/navbar-static-top.css')
  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#' class='navbar-brand') Schat
        .navbar-collapse.collapse#navbar
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/trial') Dùng thử
            li
              a(href='#' onclick='loadRegisterPage()') Đăng kí
            li
              a(href='#' onclick='loadForgotPasswordPage()') Quên mật khẩu
    .container
      .jumbotron(style='text-align:center')
        p Chat với người lạ
        .row
          a(href='#' class='btn btn-primary btn-lg') Login with Facebook
        h1
        .row
          a(href='#' class='btn btn-primary btn-lg') Login with Google
        h1
        .row
          a(href='#' class='btn btn-primary btn-lg' onclick='loadLoginPage()') Tôi đã có tài khoản

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='/javascripts/libs/reconnecting-websocket.min.js')
    script(src='/javascripts/index.js')