style.
  body {
    min-height: 2000px;
    padding-top: 70px;
    background-color: #e4dbff;
  }

nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a(href='#' class='navbar-brand') Stranger Chat
    div(id='navbar' class='navbar-collapse collapse')
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#' onclick='loadRegisterPage()') Đăng kí
        li
          a(href='#' onclick='loadForgotPasswordPage()') Quên mật khẩu

.container
  .row
    .col-md-8.col-md-offset-2
      .box.box-info
        .box-header.with-border
          h3(class="box-title") Đăng nhập
        form(class="form-horizontal")
          .box-body#loginBoxBody
            .col-sm-9.col-sm-offset-3#loginerror
            .form-group#loginEmailInput
              label(class="col-sm-3 control-label") Email / Số điện thoại
              .col-sm-9
                input(type="text" class="form-control" id="idEmail")
            .form-group#loginPasswordInput
              label(class="col-sm-3 control-label") Mật khẩu
              .col-sm-9
                input(type="password" class="form-control" id="idPassword")
          .box-footer
            .row
              .col-sm-4.col-sm-offset-4
                a(href='#' class="btn btn-primary btn-lg" onclick='loginwup()') Đăng nhập
            //hr
            //.row
            //  .col-sm-3.col-sm-offset-1
            //    a(class='btn btn-lg btn-primary' href='#' onclick='loginWithFacebook()') Đăng nhập với Facebook
            //  .col-sm-3.col-sm-offset-2
            //    #ggSignInBtn

script(src="https://apis.google.com/js/platform.js?onload=renderGoogleButton" async defer)
script(src="javascripts/login.js")
