.row
  .col-md-8
    .box.box-warning
      .box-header.with-border
        h3.box-title Confession
      .box-body
        .form-group
          textarea(class="form-control" rows="10" id='newCfsContentId')
      .box-footer
          .input-group
            span.input-group-btn
              a(href='#' class="btn btn-warning btn-flat" onclick='submitNewConfession()') Đăng

