.row
  .col-xs-10
    .box
      .box-header
        h3.box-title Danh sách chủ đề
      .box-body
        #example2_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
          .row
            .col-sm-5
            .col-sm-5
          .row
            .col-sm-10
              table(id='example2' class='table table-bordered table-hover dataTable' role='grid' aria-describedby='example2_info')
                thead
                  tr(role='row')
                    th(class='sorting' tabindex='0' aria-controls='example2' rowspan='1' colspan='1' aria-label='Name') Name
                    th(class='sorting' tabindex='0' aria-controls='example2' rowspan='1' colspan='1' aria-label='Created date') Created date
                    th(class='sorting' tabindex='0' aria-controls='example2' rowspan='1' colspan='1' aria-label='Joined count') Joined count
                    th(class='sorting' tabindex='0' aria-controls='example2' rowspan='1' colspan='1' aria-label='Message count') Message count
                    th(class='sorting' tabindex='0' aria-controls='example2' rowspan='1' colspan='1' aria-label='Current online') Current online
                    th(class='sorting' tabindex='0' aria-controls='example2' rowspan='1' colspan='1' aria-label='Status') Status
                    th(class='sorting' tabindex='0' aria-controls='example2' rowspan='1' colspan='1' aria-label='Menu') Menu
                tbody#subjectManageId
          .row
            div(class='modal fade' tabindex='-1' role='dialog' id="myModal")
              div(class='modal-dialog' role='document')
                .modal-content
                  .modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                      span(aria-hidden="true") &times;
                    h4.modal-title Edit subject
                  .modal-body
                    div(class="form-group")
                      label(class="col-sm-5 control-label") Old subject name
                      div(class="col-sm-5")
                        input(type="text" class="form-control" id='oldSubjectNameId' disabled placeholder='old subject name')
                    div(class="form-group")
                      label(class="col-sm-5 control-label") New subject name
                      div(class="col-sm-5")
                        input(type="text" class="form-control" id="newSubjectNameId" name='newSubjectName')
                  .modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") Close
                    button(type="button" class="btn btn-primary" onclick='updateSubject()') Save changes

script(src='/javascripts/subject-manage.js')



